<div class="main" ng-controller="MainCtrl" ng-class="{success: testsPassed}">

	<% include passing-builds-view.ejs %>

    <% include failing-builds-view.ejs %>


    <% include running-builds-view.ejs %>

</div>

