<div class="main" ng-controller="MainCtrl" ng-class="{success: testsPassed}">

	<div class="" ng-show="testsPassed">
		<br/>
    	<img class="col-lg-4 col-lg-offset-4" ng-src="{{inspirationalPic}}"/>    	

		<!--  Carousel of all Tests when passing -->  
        <div id="all-build-carousel" class="carousel slide" ng-show="!testsRunning"><!-- class of slide for animation -->
            <div class="carousel-inner">
            	<div class="active text-center item build-status-box">
            		<h1>Inspiration CI<h1>
            	</div>
                <div class="text-center item build-status-box" ng-repeat="build in allBuilds">
                	<div data-model="{{build.id}}">
	                    <h2>{{build.project}}</h2>
	                    <h1>{{build.name}}</h1>
	                    <h3><a href="{{build.webUrl}}" target="_new">
	                    	Build {{build.version}}
	                	</a></h3>
                	</div>
                </div>
                
            </div><!-- /.carousel-inner -->
        </div>        
		<!-- /Carousel -->
    </div>

    <!-- Failing Tests Display -->
	<div ng-show="!testsPassed">
    	<h1>Failing Builds</h1>
		<div ng-repeat="build in failingBuilds" class="build-status-box">    			
			<table class="center" data-model="{{build.id}}">
        		<tr>
        			<td class="col-lg-1">
        				<img ng-show="builds.state == 'running'" 
        					class="running-builds-img center" 
        					src="/images/loadingwheel.gif"></img>
        					&nbsp;&nbsp;&nbsp;&nbsp;<br/>
        				<span class="center" ng-show="builds.state == 'running'">
        					{{build.percentComplete}}%
        				</span>
        			</td>
        			<td>
        				<h2>{{build.project}}</h2>
	                    <h1>{{build.name}}</h1>
	                    <h3><a href="{{build.webUrl}}" target="_new">
	                    	Build {{build.version}}
	                	</a></h3>
        			</td>
        		</tr>
        	</table>  			
		</div>
    </div>   

	<!-- Running Tests     -->
    <div ng-show="testsRunning">
    	<h1 ng-show="!testsPassed">Running Builds</h1>
    	<!--  Carousel -->  
        <div id="running-build-carousel" class="carousel slide"><!-- class of slide for animation -->
            <div class="carousel-inner">
                <div class="text-center item build-status-box" ng-repeat="build in runningBuilds">
                	<table class="center" data-model="{{build.id}}">
                		<tr>
                			<td>
                				<img class="running-builds-img center" src="/images/loadingwheel.gif"></img>&nbsp;&nbsp;&nbsp;&nbsp;<br/>
                				<span class="center">{{build.percentComplete}}%</span>
                			</td>
                			<td>
                				<h2>{{build.project}}</h2>
			                    <h1>{{build.name}}</h1>
			                    <h3><a href="{{build.webUrl}}" target="_new">
			                    	Build {{build.version}}
			                	</a></h3>
                			</td>                			
                		</tr>
                	</table>
                </div>
                <!-- Repeat twice to avoid things swiming in an out form the same direction. -->
                <div class="text-center item build-status-box" ng-repeat="build in runningBuilds">
                	<table class="center" data-model="{{build.id}}">
                		<tr>
                			<td>
                				<img class="running-builds-img center" src="/images/loadingwheel.gif"></img>&nbsp;&nbsp;&nbsp;&nbsp;<br/>
                				<span class="center">{{build.percentComplete}}%</span>
                			</td>
                			<td>
                				<h2>{{build.project}}</h2>
			                    <h1>{{build.name}}</h1>
			                    <h3><a href="{{build.webUrl}}" target="_new">
			                    	Build {{build.version}}
			                	</a></h3>
                			</td>                			
                		</tr>
                	</table>
                </div>
            </div><!-- /.carousel-inner -->
        </div>        
		<!-- /Carousel -->   
    </div>

 

</div>

