<!DOCTYPE html>
<html ng-app="inspirationCi">
  <head>

    <title>Inspiration CI Build Radiator</title>

    <!-- Viewport mobile tag for sensible mobile support -->
    <meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1" />

    <!-- JQuery -->
    <script src="//code.jquery.com/jquery-1.11.0.min.js"></script>

    <!-- BootStrap -->
    <link rel="stylesheet" href="//maxcdn.bootstrapcdn.com/bootstrap/3.2.0/css/bootstrap.min.css">
    <script src="//maxcdn.bootstrapcdn.com/bootstrap/3.2.0/js/bootstrap.min.js"></script>

    <!-- Angular -->
    <script src="vendor/angular/angular.js"></script>
    <script src="vendor/angular-touch/angular-touch.js"></script>
    <script src="vendor/angular-carousel/dist/angular-carousel.js"></script>
    <link src="vendor/angular-carousel/dist/angular-carousel.css">


    <!-- Additional Styles -->
    <link rel="stylesheet" href="/styles/style.css">    

  </head><body>
    <!-- Include the view file for the current controller/route -->
    <%- body %>

    <!-- Your scripts here? -->
    </body>
</html>
